[MAIN]
# Enable most refactor suggestions
# You might want to adjust this based on your preference
enable=refactoring
suggestion-mode=yes
score=yes

ignore-patterns=kvuno.*\.py,.*_test\.py

[DESIGN]
max-locals=20


[MESSAGE CONTROL]
disable=C0103,W0718,C0114,C0115,C0116

[FORMAT]
max-line-length=550


[TYPECHECK]
# Ignored names
#ignore=